name: build

on: [ push, pull_request ]

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    env:
      CGO_CFLAGS_ALLOW: -Xpreprocessor
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, macOS-10.15, macos-11.0]
        
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    
    - name: Install linux deps
      if: matrix.os == 'ubuntu-18.04' || matrix.os == 'ubuntu-20.04'
      run: |
        sudo add-apt-repository -y ppa:tonimelisma/ppa
        sudo apt-get -y install libvips-dev

    - name: Install macos deps
      if: matrix.os == 'macos-10.15' || matrix.os == 'macos-11.0'
      run: |
        brew install vips

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Build
      run: go build -v ./vips

    - name: Test
      run: go test -v -coverprofile=profile.cov ./...

    - name: Coveralls
      if: matrix.os == 'ubuntu-20.04'
      uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: profile.cov